.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 50px;
  background: var(--color-white);
  width: 700px;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  animation: slideUp 1s linear;
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.form-todo {
  text-align: center;
}

.form-todo > * {
  padding: 10px;
}

.input {
  border-radius: 5px;
  margin-right: 10px;
  font-family: "Lexend Deca";
  border: 2px solid transparent;
  transition: all 0.5s ease;
  outline: none;
  width: 30%;
}

.input:focus {
  border: 2px solid var(--color-bg-primary);
}

.btn {
  border: none;
  cursor: pointer;
  width: 50px;
  opacity: 0.7;
  background: var(--color-bg-primary);
  color: var(--color-white);
  transition: all 0.5s ease;
  border-radius: 5px;
}

.btn:hover {
  opacity: 1;
}

.todo-list {
  margin-top: 30px;
}

.title {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-bottom: -20px;
}

.title h4 {
  grid-column: span 1;
}

.title h4:nth-child(2) {
  margin-left: 40px;
}

.title h4:last-child {
  justify-self: left;
  margin-left: 70px;
}

.prior {
  background: rgb(239, 29, 29);
  color: rgb(244, 238, 238);
  width: 30%;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  font-size: 15px;
}

.medium {
  background: rgb(232, 172, 9);
  color: #fff8e1;
  width: 30%;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  font-size: 15px;
}

.low {
  background: rgb(44, 208, 55);
  color: rgb(244, 238, 238);
  width: 30%;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  font-size: 15px;
}

.todo {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.todo > * {
  grid-column: span 1;
}

.todo *:nth-child(2) {
  margin-left: 40px;
}

.todo *:last-child {
  justify-self: center;
}

.action {
  display: flex;
  align-items: center;
}

.action button {
  background: inherit;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action button:first-child {
  margin-left: -30px;
}

.action button:hover {
  background: #ddd;
}
