@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --color-bg-primary: #6157ff;
  --color-bg-secondary: #ee49fd;
  --color-white: #faf6f6;
  --color-text: #333;
}

html {
  background-image: linear-gradient(
    to right,
    var(--color-bg-primary),
    var(--color-bg-secondary)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: "Lexend Deca";
  min-height: 120vh;
}
